menuconfig MODULES_GEOMETRIC_CONTROL
	bool "geometric_control"
	default n
	---help---
		Enable support for geometric_control

menuconfig USER_GEOMETRIC_CONTROL
	bool "geometric_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_GEOMETRIC_CONTROL
	---help---
		Put geometric_control in userspace memory
