menuconfig MODULES_INDI_POS_CONTROL
	bool "indi_pos_control"
	default n
	---help---
		Enable support for indi_pos_control

menuconfig USER_INDI_POS_CONTROL
	bool "indi_pos_control running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_INDI_POS_CONTROL
	---help---
		Put indi_pos_control in userspace memory
